/*card-index 連結(上面四個)*/
.card h1 {
    color: wheat;
}
.card h4 {
    color: rgb(0, 32, 96);
}
.card:hover .card-body {
    background-image: linear-gradient(0deg, #fdffe9, #0c4292);
}
.card:hover img {
    transform: translateY(-60px);
}
.card:hover h4 {
    color: rgb(255, 255, 255);
}


/*tab標籤 連結(五個)*/
.li-hover a {
    color: rgb(255, 255, 255);
    background-color: rgba(167, 203, 250, 0.6);
    font-size: x-large;
}
.li-hover:hover a {
    color: rgb(0, 32, 96);
    background-color: rgba(250, 244, 167, 0.60);
    font-size: x-large;
}


/*tr td 最新消息*/
.tr-hover td {
    color: white;
}
.tr-hover a {
    color: white;
    font-size: x-large;
}
.tr-hover button {
    background-color: rgba(167, 200, 250, 0.774);
    color: white;
    font-size: large;
}
.tr-hover:hover td {
    color: rgb(0, 32, 96);
    background-color: rgba(250, 244, 167, 0.60);
    ;
}
.tr-hover:hover a {
    color: rgb(202, 231, 255);
    font-weight: 900;
    font-size: xx-large;
}
.tr-hover:hover button {
    color: rgb(0, 32, 96);
    background-color: rgb(250, 250, 218);
}
.tr-hover:hover th {
    color: rgb(0, 32, 96);
    background-color: rgba(250, 244, 167, 0.60);
    ;
}


/*a-img 火箭相簿*/
.a-hover img {
    height: 270px;
    width: 200px;
}
.a-hover:hover img {
    transform: translateY(-40px);
}
